
 /* Add custom CSS for the slide button */

     .slide-container {
      position: relative;
      width: 40px;
      height: 20px;
      margin-left: 100px;
      margin-left: 150px;
    }

    .slide-input {
      display: none;
    }

    .slide-slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      transition: 0.4s;
      border-radius: 10px;
    }

    .slide-slider:before {
      position: absolute;
      content: "";
      height: 11px;
      width: 11px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }

    input:checked + .slide-slider {
      background-color: #007BFF; /* Change to your desired color */
    }

    input:checked + .slide-slider:before {
      transform: translateX(20px);
    }

